APP_PRODUCTION=false
APP_PORT=9000
APP_HOST=myapp.example.com

DB_URI=mongodb://localhost:27017
DB_NAME=myapp

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=key

DISCORD_CLIENT_ID=key
DISCORD_CLIENT_SECRET=key

GOOGLE_CLIENT_ID=key
GOOGLE_CLIENT_SECRET=key

TIKTOK_CLIENT_ID=key
TIKTOK_CLIENT_SECRET=key

DISCORD_BOT_TOKEN=key

MIDTRANS_PRODUCTION=false

SB_MIDTRANS_SERVER_KEY=key
SB_MIDTRANS_CLIENT_KEY=key

PR_MIDTRANS_SERVER_KEY=key
PR_MIDTRANS_CLIENT_KEY=key

SESSION_SECRET=key

LUNA_SECRET=key