@use "../../variables" as v;
@use "../../animations";
@use "../../main";

$fontNormal: calc(v.$defaultSize * 0.8);
$fontAction: calc(v.$defaultSize);
$fontProviderIcon: calc(v.$defaultSize * 1.1);
$fontFooter: calc(v.$defaultSize * 0.7);

html {
  height: 100svh;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: v.$systemfont;
  min-height: 100dvh;
  position: relative;
}

.hr {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card {
    text-align: center;
    position: relative;
    z-index: 1;
    width: calc(100% - (v.$bigPadding * 2));
    max-width: 420px;
    max-height: calc(100% - (v.$bigPadding * 2));
    padding: v.$bigPadding;
    background-color: rgba(v.$px1, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 10px v.$px1;
    border: 1px solid rgba(v.$px1, 0.5);
    animation: appUpIn 0.3s ease-out;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: v.$scrollbarcolor;
    .pages {
      width: 100%;
      margin-top: v.$bigPadding;
      a {
        font-weight: 600;
        margin: 0 auto;
        display: block;
        width: fit-content;
        padding: v.$mediumPadding v.$bigPadding;
        border-radius: 10px;
        text-decoration: none;
        background-color: v.$pm1;
        color: v.$px1;
      }
    }
  }
}

.deco {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  &::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(v.$pm1, 0.2);
    top: -100px;
    right: -100px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(v.$pm1, 0.2);
    bottom: -150px;
    left: -150px;
  }
}
