@use "../../../variables" as v;

@media (max-width: 650px) {
  .app {
    .brand {
      text-align: center;
    }
    .content {
      .nav {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: max-content;
        max-width: calc(100% - 30px);
        height: fit-content;
        max-height: calc(100% - (v.$bigPadding * 2));
        padding: 0;
        top: auto;
        bottom: v.$bigPadding;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        text-align: center;
        background-color: v.$px2;
        animation: navUpIn 0.3s ease-out;
        &.out {
          animation: navUpOut 0.3s ease-in forwards;
        }
        .nav-links {
          display: none;
          .nav-link {
            padding: v.$mediumPadding;
            &:first-child {
              border-top: none;
            }
            .link-text {
              padding: v.$bigPadding;
              &::before {
                display: none;
              }
            }
          }
        }
        .nav-action {
          display: block;
          border-top: solid 1px #00000000;
        }
        &.active {
          .nav-links {
            display: block;
            animation: navLinksIn 0.4s ease-in-out;
          }
          .nav-action {
            border-color: rgba(v.$softwhite, 0.18);
          }
        }
        &.link-out {
          .nav-links {
            display: block;
            overflow: hidden;
            animation: navLinksOut 0.2s ease-in-out forwards;
          }
        }
      }
    }
  }
}

@keyframes navLinksIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navLinksOut {
  0% {
    opacity: 1;
    transform: translateY(0);
    max-height: 500px;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
    max-height: 0;
  }
}
