@use "../../variables" as v;
@use "../../animations";
@use "../../main";

$fontNormal: calc(v.$defaultSize * 0.8);
$fontAction: calc(v.$defaultSize);
$fontProviderIcon: calc(v.$defaultSize * 1.1);
$fontFooter: calc(v.$defaultSize * 0.7);

body {
  font-family: v.$systemfont;
  min-height: 100dvh;
  position: relative;
}

.hr {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deco {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../../../../public/assets/images/bg-signin-beach-wedding.avif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  &::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(v.$pm1, 0.2);
    top: -100px;
    right: -100px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(v.$pm1, 0.2);
    bottom: -150px;
    left: -150px;
  }
}

.card {
  position: relative;
  z-index: 1;
  width: calc(100% - (v.$bigPadding * 2));
  max-width: 420px;
  max-height: calc(100% - (v.$bigPadding * 2));
  padding: v.$bigPadding;
  background-color: rgba(v.$px2, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(v.$pm1, 0.5);
  animation: appUpIn 0.3s ease-out;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: v.$scrollbarcolor;
  .title {
    text-align: center;
    margin-bottom: v.$smallPadding;
    .logo-icon {
      display: block;
      width: 125px;
      margin: 0 auto;
    }
    .big-icon {
      font-size: v.$dialogueSize;
    }
    h1 {
      font-size: v.$dialogueSize;
      font-weight: 600;
      color: v.$softwhite;
      margin-bottom: v.$tinyPadding;
    }
  }

  .motto {
    text-align: center;
    margin-bottom: v.$bigPadding;

    .error {
      font-size: calc($fontNormal * 1.12);
      font-weight: 600;
    }
    p {
      font-size: $fontNormal;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .languages {
    width: 100%;
    margin: v.$mediumPadding 0;
    .btn {
      font-size: calc(v.$defaultSize * 0.8);
      padding: v.$smallPadding;
      border-radius: 10px;
      border-bottom: 1px solid v.$softwhite;
      width: fit-content;
      display: block;
      margin: 0 auto;
      text-align: center;
      .dropdown {
        margin-left: 10px;
      }
    }
  }

  .form {
    width: 100%;
    display: block;
    .input-group {
      width: 100%;
      margin-bottom: v.$mediumPadding;
      .input-field {
        margin-bottom: v.$mediumPadding;
        label {
          display: block;
          margin-bottom: v.$tinyPadding;
          font-size: $fontNormal;
          font-weight: 500;
        }

        .input-wrapper {
          position: relative;
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 0;
          background-color: v.$px1;
          border: 1px solid v.$black;
          border-radius: 10px;
          overflow: hidden;
          &:has(:focus) {
            border-color: v.$pm1;
          }
          i,
          img {
            flex-shrink: 0;
            color: v.$softwhite;
            margin-left: 10px;
          }
          img {
            max-width: 24px;
          }
          input {
            width: fit-content;
            min-width: 0;
            flex-grow: 1;
            padding: 10px;
            background-color: v.$px1;
            color: v.$white;
            font-size: $fontNormal;
            transition: all 0.3s ease;
            &.otp {
              letter-spacing: 5px;
            }
          }
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0 1000px v.$px1 inset !important;
            -webkit-text-fill-color: v.$white !important;
            transition: none;
          }
        }
        .ft-sm {
          font-size: $fontFooter;
          color: v.$softwhite;
          font-style: italic;
          margin-top: v.$tinyPadding;
          text-align: justify;
          text-align-last: left;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .button-group {
      width: 100%;
      .btn {
        background-color: v.$pm1;
        border: 1px solid v.$pm1;
        color: v.$px1;
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        font-size: $fontAction;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-bottom: v.$smallPadding;
        text-align: center;
        &:hover {
          border-color: v.$pm1;
          background-color: v.$pm2;
          color: v.$white;
          transform: translateY(-1px);
        }
      }
    }
  }

  .divider {
    display: flex;
    align-items: center;
    margin: v.$bigPadding 0;
    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: rgba(v.$white, 0.2);
    }
    span {
      padding: 0 15px;
      font-size: $fontNormal;
      color: v.$softwhite;
    }
  }

  .login-providers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .btn {
      padding: 10px;
      border: 1px solid rgba(v.$px1, 0.7);
      border-radius: 10px;
      background-color: rgba(v.$px1, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: $fontNormal;
      text-decoration: none;
      color: v.$softwhite;
      &:hover {
        transform: translateY(-1px);
      }
      i {
        font-size: $fontProviderIcon;
      }
      .provider-icon {
        display: block;
        width: $fontProviderIcon;
      }
    }
  }

  .footer {
    text-align: justify;
    text-align-last: center;
    margin-top: v.$bigPadding;
    font-size: $fontFooter;
    a {
      color: v.$pm1;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.out {
    animation: appUpOut 0.3s ease-in forwards;
  }
}
