$px1: #0b111d;
$px25: #0f1621;
$px2: #1c222c;
$pm1: #a395e8;
$pm2: #2d3048;

$white: #f0f2f3;
$softwhite: #abadaf;
$swhite: #888b91;
$black: #00000b;
$sgreen: #3aa761;
$sred: #da373b;
$sgray: #4e5057;
$syellow: #bda94e;
$yellow: #fee75b;
$sblue: #16365c;

$blurple: #5865f1;
$cred: #ff6e6e;
$cgreen: #6ccc71;
$cblue: #2b6fb9;
