@use "../../../variables" as v;

.app .cart {
  z-index: 90;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(v.$px1, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    position: relative;
    z-index: 1;
    width: calc(100% - (v.$bigPadding * 2));
    max-width: 690px;
    max-height: calc(100% - (v.$bigPadding * 2));
    padding: v.$bigPadding;
    background-color: v.$pm2;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    animation: appUpIn 0.3s ease-out;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: v.$scrollbarcolor;
    .title {
      padding: v.$bigPadding;
      text-align: center;
      margin-bottom: v.$bigPadding;
      font-size: calc(v.$bigPadding * 1.5);
      font-weight: 600;
      text-shadow: v.$textshadow;
      border-radius: 10px;
      background-color: v.$px2;
      border-bottom: 1px solid v.$pm1;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .field {
      margin-bottom: v.$bigPadding;
      &:last-child {
        margin-bottom: 0;
      }
      .label {
        display: block;
        margin-bottom: v.$tinyPadding;
        font-weight: 500;
      }
      input {
        width: 100%;
        padding: v.$mediumPadding;
        background-color: rgba(v.$px1, 0.6);
        color: v.$white;
        border: 1px solid v.$black;
        border-radius: 10px;
        &:focus {
          border-color: v.$pm1;
        }
      }
      .sm {
        font-size: calc(v.$defaultSize * 0.8);
        font-style: italic;
        margin-top: v.$tinyPadding;
        text-align: justify;
        text-align-last: left;
      }
      &.expiry {
        width: 100%;
        .expiry-wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: v.$bigPadding;
          .btn-expiry {
            width: calc(100% / 2);
            padding: v.$mediumPadding;
            text-align: center;
            border-radius: 10px;
            background-color: rgba(v.$px1, 0.6);
            &.active {
              background-color: v.$pm1;
              color: v.$px1;
            }
          }
        }
      }
      &.add-on {
        width: 100%;
        .addon-wrapper {
          width: 100%;
          .btn-addon-item {
            width: 100%;
            padding: v.$mediumPadding;
            border-radius: 10px;
            background-color: rgba(v.$px1, 0.6);
            &.active {
              background-color: v.$pm1;
              color: v.$px1;
              .sm {
                color: v.$px1;
              }
            }
          }
        }
      }
      &.payment-methods {
        .payment {
          border: 1px solid v.$black;
          border-radius: 10px;
          overflow: hidden;
          background-color: rgba($color: v.$px1, $alpha: 0.6);
          margin-bottom: v.$smallPadding;
          &:last-child {
            margin-bottom: 0;
          }
          .payment-title {
            padding: v.$bigPadding;
            display: flex;
            justify-content: start;
            align-items: left;
            gap: v.$bigPadding;
            cursor: pointer;
            .title-text {
              font-weight: 700;
            }
            .arrow-openclose {
              rotate: 0;
              transition: rotate 0.3s;
            }
          }
          .payment-detail {
            padding: 0;
            max-height: 0;
            opacity: 0;
            transition:
              padding 0.5s ease,
              opacity 0.3s ease,
              max-height 0.5s ease-in-out;
            .fee {
              margin-bottom: v.$mediumPadding;
              font-size: calc(v.$defaultSize * 0.9);
              font-style: italic;
            }
            .btn-buy {
              background-color: v.$pm2;
              padding: v.$mediumPadding;
              border-radius: 5px;
              color: v.$white;
              font-weight: 600;
              margin-bottom: v.$mediumPadding;
            }
            .method-wrapper {
              width: 100%;
              border-radius: 5px;
              padding: v.$mediumPadding;
              margin-bottom: v.$mediumPadding;
              background-color: v.$px2;
              border: 1px solid v.$black;
              &:last-child {
                margin-bottom: 0;
              }
              .method-name {
                font-weight: 600;
              }
              .method-steps {
                width: 100%;
                ul {
                  margin-left: 1.65rem;
                  li {
                    text-align: justify;
                    text-align-last: left;
                  }
                }
              }
            }
          }
          &.show {
            .payment-title {
              .arrow-openclose {
                rotate: 90deg;
              }
            }
            .payment-detail {
              padding: v.$mediumPadding;
              max-height: 3000px;
              opacity: 1;
            }
          }
        }
      }
      &.cancel-payment {
        .btn-cancel-payment {
          background-color: v.$px1;
          color: v.$cred;
          padding: v.$mediumPadding;
          text-align: center;
          border-radius: 10px;
        }
      }
    }
  }
  &.out {
    .card {
      animation: appUpOut 0.3s ease-in;
    }
  }
}
